<h2>Log In</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form name="frmLogin" method="post" class="form-horizontal" role="form" novalidate ng-submit="doLogin()">
                <!--ToDo: append ReturnUrl to route values -->
                <!--ToDo: Implement AntiForgeryToken using interceptors/provider -->
                <h4>Use a local account to log in.</h4>
                <hr />
                <div class="validation-summary" ng-class="serverError? 'validation-summary-errors': 'validation-summary-valid'">{{serverError}}</div>
                <div class="form-group">
                    <label for="UserName" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        <input type="text" name="UserName" required ng-model="loginViewModel.UserName" class="form-control"
                               ng-class="{ 'input-validation-error': frmLogin.UserName.$invalid }" />
                        <span class="field-validation-error" ng-show="frmLogin.UserName.$error.required && frmLogin.UserName.$dirty">
                            UserName is required
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="password" name="Password" required ng-model="loginViewModel.Password" class="form-control"
                               ng-class="{ 'input-validation-error': frmLogin.Password.$invalid }" />
                        <span class="field-validation-error" ng-show="frmLogin.Password.$error.required && frmLogin.Password.$dirty">
                            Password is required
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input type="checkbox" ng-model="loginViewModel.RememberMe">
                            <label for="RememberMe">Remember Me</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" ng-disabled="frmLogin.$invalid" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    <a href="#/Register">Register</a> if you don't have a local account.
                </p>
            </form>
</section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            section for external login form
            <!--<ng-include src="'/ngViews/external-Logins-List-partial.html'"></ng-include>-->
        </section>
    </div>
</div>
